footer{
    padding: 80px 100px 140px;
    background-color: #1C0C02;
    color: white;

    text-transform: capitalize;

    position: relative;

    display: flex;
    gap: 50px;

    max-width: 1366px;
    margin: auto;
}
footer a{
    color: white;
}

footer .footer-details{
    flex: 3;
}


footer .footer-details p{
    margin-top: 50px;
}


footer .footer-options{
    display: flex;
    gap: 50px;
    flex: 7;
    justify-content: space-around;

}

/* footer .footer-options .option-container{

} */

footer .footer-options .option-container h4{
    margin-bottom: 40px;
    text-wrap: nowrap;
}



footer .footer-options .option-container .option{
    display: flex;
    flex-direction: column;
    gap: 20px;
}




footer .footer-options .option-container .option .follow-us{
    margin-top: 45px;
    font-size: 24px;
    display: flex;
    gap: 20px;
}


footer > p{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 20px;
}




@media screen and (max-width: 980px) {
    footer{
        padding: 80px 50px 140px;
        
        display: flex;
        gap: 50px;
    }
}



@media screen and (max-width: 850px) {
    footer{
        padding: 80px 50px 140px;
        
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-content: center;
    }

    footer .footer-details{
        text-align: center;

    }
    

    footer .footer-options{

        justify-content: space-between;
    
    }
}




@media screen and (max-width: 600px) {
    footer .footer-options{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        gap: 100px 50px;
    
    }

    footer .footer-options .option-container h4{
        text-align: center;
    }
    

    footer .footer-options .option-container .option{

        align-items: center;
    }
    
}